body {
    background-color: #e2d8e7;
    border-style: none;
    margin: 0%;

}

#topodosite {
    text-align: center;
    color: white;
    background-color: #21022d;
    padding: 8px;

}

h2 {
    color: #21022d;
    margin: 16px;
    
}
.cabecalho-rodape {
    text-align: center;
    color: white;
    background-color: #21022d;
    padding: 8px;
}
img {
    width:  150px;
    height: 150px;
    margin-left: 64px;
}
.lactose {
 text-align: center;

}
.vitamina {
    width: 600px;
    height: 300px;

}

.subtitulo {
   color: white;
   text-align: center

}
.cabecalho {
    color: white;
    text-align: center;
}
h3 {
    color: #21022d;
    margin-left: 64px;
}
p {
    color: #21022d;
    text-align: left;
    margin-left: 64px;
}
.corpo {
    border: 24px solid white;
    border-style: solid;
}

div {
    padding-bottom: 32px;
}